/* Write a Sass file that assigns */
$margin_body: 10px;
$margin_div: 15px;
body {
    margin-left: $margin_body;
    margin-right: $margin_body;
}
  
  div {
    margin-left: $margin_div;
    margin-right: $margin_div;
}